.c-button
  background green-base
  border none
  border-radius 6px
  color gray-xlight
  cursor pointer
  font-weight light-weight
  outline none
  padding 8px 16px
  transition background .15s ease
  will-change background

  &:hover
    background green-dark

  &--orange
    background orange-base

    &:hover
      background orange-dark
