// Lost Frid configurations
@lost flexbox flex

// Breakpoints configuration
rupture.scale = 0 600px 900px 1200px 1400px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'
rupture.anti-overlap = true

// Font weights
light-weight = 300
regular-weight = 400
medium-weight = 500
bold-weight = 700

// Font families
roboto-font = 'Roboto', sans-sserif

// colors
gray-xlight = #F0F0F0
gray-light = #9B9B9B
gray-base = #727272
gray-dark =  #494949
gray-xdark = #181819

green-xlight = #89DE93
green-light = #5ACA68
green-base = #39B448
green-dark =  #19A62A
green-xdark = #0C801A

red-xlight = #FFA29D
red-light = #FF7972
red-base = #E8524A
red-dark =  #D52920
red-xdark = #A5160F

blue-xlight = #7BC0C6
blue-light = #4A9BA2
blue-base = #2E858D
blue-dark =  #157982
blue-xdark = #0A5C64

orange-xlight = #FFCB9D
orange-light = #FFB472
orange-base = #E8944A
orange-dark =  #D57520
orange-xdark = #A5560F
